* {
  text-align: center;
  vertical-align: center;
  color: #f2f2f2;
}


.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  display: inline-block;
  padding: 16px;
  text-decoration: none;
  font-family: "Gill Sans", sans-serif;
  font-size: 16px;
}

/* Underline the menu options on hover */
.topnav a:hover {
  text-decoration: underline;
  display: inline-block;
  position: relative;
  color: white
}

body {
  padding-top: 40px;
  background-color: black;
}

div {
text-align: center;
font-family: "Lucida Console", "Courier New", monospace;
}

.square {
margin-top: 20px;
width: 255px;
height: 255px;
border: 7px solid white;
}

.logo {
width: 55px;
height: 55px;
}

.rectangle {
width: 500px;
height: 630px;
border: 3px solid white;
margin-top: 15px;

}

.p {
margin-top: 150px;
font-family: monospace;
font-size: 45px; 
color: white
}

.b {
padding-top: 150px;
color: #2b922b;
font-size: 50px; 
}

.center {
justify-content: center;
}

.greeting {
margin-top: 200px;
font-size: 45px; 
color: white;
}

.func {
font-size: 45px; 
margin-bottom: 7px;
color: rgb(71, 226, 250);
}

.intro {
  padding-top: 35%;
  padding-bottom: 5%;
  font-family: Courier;
  font-size: 22px;
  color: white;
}

.awards {
  font-family: Courier;
  font-size: 21px;
  color: white;
  padding-left: 8%;
}

i {
  font-size: 18px; 
  color: rgb(198, 54, 198)
}

b {
  font-size: 25px;
  color: rgb(71, 226, 250);
}

p {
  text-align: left;
}

h1 {
  font-size: 45px;
  text-align: center;
}

h4 {
  padding-left: 3%;
  text-align: left;
  color: #2b922b;
}

h5 {
  padding-bottom: 10%;
}

h6 {
  text-align: left;
  font-size: 20px;
}

.awardpic {
  margin-top: 30px;
  width: 350px;
  height: 350px;
  border: 7px solid white;
  margin-right: 10%;
  margin-left: 20%;
  float: right;
}

.aboutpic {
  margin-top: 45px;
  width: 350px;
  height: 350px;
  border: 7px solid white;
  margin-left: 50px;
  margin-right: 60px;
  margin-top: 115px;
  margin-bottom: 70px;
  float: left;
}

.intro {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.aboutme {
  font-size: 20px;
  padding-left: 30px;
  padding-right: 50px;
}
