* {
    text-align: center;
    vertical-align: center;
    background-color: solid green;
}

.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  display: inline-block;
  padding: 16px;
  text-decoration: none;
  font-family: "Gill Sans", sans-serif;
  font-size: 16px;
}

/* Underline the menu options on hover */
.topnav a:hover {
  text-decoration: underline;
  display: inline-block;
  position: relative;
  color: white
}

body {
  padding-top: 40px;
  background-color: black;
}

div {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  }

.square {
  margin-top: 20px;
  width: 255px;
  height: 255px;
  border: 7px solid white;
  margin-bottom: 1px;
}

.logo {
  width: 55px;
  height: 55px;
}

.rectangle {
  width: 500px;
  height: 630px;
  border: 3px solid white;
  margin-top: 15px;
  
}

.p {
  margin-top: 150px;
  font-family: monospace;
  font-size: 45px; 
  margin-bottom: 7px;
  color: white
}

.b {
  color: #2b922b;
  font-size: 45px; 
}

.description {
  font-family: Courier;
  font-size: 20px;
  color: rgb(198, 54, 198)
}

.span {
  font-style: bold;
}

.greeting {
  padding-top: 2000px;
  font-size: 45px; 
  margin-bottom: 7px;
  color: white;
}

.func {
  font-size: 45px; 
  margin-bottom: 7px;
  color: rgb(71, 226, 250);
}

.intro {
  font-family: Courier;
  font-size: 22px;
  color: white
}

.awards {
  font-family: Courier;
  font-size: 22px;
  color: white;
}

.aboutpic {
  margin-top: 45px;
  width: 350px;
  height: 350px;
  border: 7px solid white;
  margin-left: 100px;
  float: left;
}
